<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rice Price Prediction</title>
</head>
<body>
    <h2>Predict the Price of Rice</h2>
    <form action="/predict" method="post">
        <label for="anuradhapura_producer_price">Anuradhapura Producer Price:</label>
        <input type="text" id="anuradhapura_producer_price" name="anuradhapura_producer_price"><br>

        <label for="kurunegala_producer_price">Kurunegala Producer Price:</label>
        <input type="text" id="kurunegala_producer_price" name="kurunegala_producer_price"><br>

        <label for="polonnaruwa_producer_price">Polonnaruwa Producer Price:</label>
        <input type="text" id="polonnaruwa_producer_price" name="polonnaruwa_producer_price"><br>

        <label for="production">Production:</label>
        <input type="text" id="production" name="production"><br>

        <label for="production_total">Total Production:</label>
        <input type="text" id="production_total" name="production_total"><br>

        <label for="exchange_rate">Exchange Rate:</label>
        <input type="text" id="exchange_rate" name="exchange_rate"><br>

        <label for="fuel_price">Fuel Price:</label>
        <input type="text" id="fuel_price" name="fuel_price"><br>

        <input type="submit" value="Predict">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
